<!DOCTYPE html>
<html>
  <head>
    <title>Job Index Page</title>
  </head>
  <body>
    <div class="all_jobs">
      <table>
        <%= render partial: 'data' %>
        <%= render partial: 'job', collection: @jobs %>
      </table>
    </div>
    <%= paginate @jobs %><br>
    <%= page_entries_info @jobs, entry_name: 'jobs' %>
  </body>
</html><br>