<!DOCTYPE html>
<html>
  <head>
    <title>Job Index Page</title>
  </head>
  <body>
    <div class="all_jobs">
      <table>
        <%= render partial: 'data' %>
        <%= render partial: 'job', collection: @jobs %>
      </table>
    </div>
  </body>
</html><br>